In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")

In [5]:
race_count = df['race'].value_counts()
race_count.tolist()

[27816, 3124, 1039, 311, 271]

In [6]:
# What is the average age of men?
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
average_age_men

39.4

In [8]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round((df['education'] == 'Bachelors').mean() * 100, 1)
percentage_bachelors

16.4

In [9]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
lower_education = ~higher_education

higher_education, lower_education

(0         True
 1         True
 2        False
 3        False
 4         True
          ...
 32556    False
 32557    False
 32558    False
 32559    False
 32560    False
 Name: education, Length: 32561, dtype: bool,
 0        False
 1        False
 2         True
 3         True
 4        False
          ...
 32556     True
 32557     True
 32558     True
 32559     True
 32560     True
 Name: education, Length: 32561, dtype: bool)

In [10]:
# percentage with salary >50K
higher_education_rich = round((df[higher_education]['salary'] == '>50K').mean() * 100, 1)
lower_education_rich = round((df[lower_education]['salary'] == '>50K').mean() * 100, 1)

In [11]:
higher_education

0         True
1         True
2        False
3        False
4         True
         ...
32556    False
32557    False
32558    False
32559    False
32560    False
Name: education, Length: 32561, dtype: bool

In [13]:
lower_education

0        False
1        False
2         True
3         True
4        False
         ...
32556     True
32557     True
32558     True
32559     True
32560     True
Name: education, Length: 32561, dtype: bool

In [15]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [16]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df[df['hours-per-week'] == min_work_hours]
rich_percentage = round((num_min_workers['salary'] == '>50K').mean() * 100, 1)

In [17]:
num_min_workers

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [18]:
rich_percentage

10.0

In [19]:
# What country has the highest percentage of people that earn >50K?
country_earning = df[df['salary'] == '>50K']['native-country'].value_counts()
country_count = df['native-country'].value_counts()
highest_earning_country_percentage = round((country_earning / country_count).max() * 100, 1)
highest_earning_country = (country_earning / country_count).idxmax()

In [20]:
highest_earning_country_percentage

41.9

In [21]:
highest_earning_country

'Iran'

In [24]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].mode()[0]
top_IN_occupation

'Prof-specialty'